/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  --background-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --menu-color: #ff0070;
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --highlight-color:#000028;
  --title-color: #ff0070;
  --display-decor: visible;
  --purple-color2:#ff007040;
  --change-color:var(--purple-color,#ff0770);
  --change-color2:var(--purple-color2,#ff007040);
  background-image: url(../images/cover-image-dark.png);
}
.page.theme_auto {
  --background-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --menu-color: #ff0070;
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --highlight-color:#000028;
  --title-color: #ff0070;
  --display-decor: visible;
  --purple-color2:#ff007040;
  --change-color:var(--purple-color,#ff0770);
  --change-color2:var(--purple-color2,#ff007040);
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: light) {
.page.theme_auto {
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --menu-color: #353430;
  --text-color: #353430;
  --heading-color: #ffc2e6;
  --title-decor-color: #353430;
  --title-color: #353430;
  --highlight-color:#000028;
  --change-color:var(--highlight-color,#353430);
  --change-color2:var(--text-color,#353430);
  --display-decor: hidden;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  background-image: url(../images/cover-image-light.png);
}

} 